@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-login >div >p {
    align-self: center;
  }
.login-title {
    align-self: flex-start;
    font-size: 2rem;
}

.login-subtitle {
    align-self: flex-start;
    font-size: 14px;
}

.main-login input {
    margin-top: 24px;
}

.main-login a{
    color: darkblue;
}

.main-login button {
    margin: 16px 0;
}

.signup-link {
    font-size: 16px;
    margin-top: 32px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 24px;
}

.header-image {
    align-self: flex-start;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-45 {
    width: 45%;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* header */

.header_container {
    background-color: white;
  }
  
  .search_container {
    position: relative;
  }
  
  .search_input {
    padding: 0.25rem;
    padding-left: 1.5rem;
    background-color: #eef3f8;
    border-radius: 4px;
    width: 20rem;
  }
  
  .search_input::placeholder {
    color: rgb(95, 97, 99);
  }
  
  .search_icon {
    position: absolute;
    top: 0.5rem;
    left: 0.25rem;
  }
  
  .nav-item {
    color: grey;
    width: 5rem;
  }
  
  .nav-item:hover {
    color: black;
  }
  
  .drop-down {
    visibility: hidden;
    opacity: 0.1;
  }
  
  .user:hover + .drop-down,
  .user:focus + .drop-down,
  .drop-down:hover,
  .drop-down:focus {
    visibility: visible !important;
    opacity: 1 !important;
  }
  
  .drop-down {
    position: absolute;
    top: 3rem;
    right: 9.5rem;
    width: 10rem;
    height: 5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
  }
  
  .drop-down span {
    color: grey;
  }
  
  .drop-down span:hover {
    color: black;
  }
  